.DS_Store
*.pyc
.devcontainer
.vscode
__pycache__
.ipynb_checkpoints
*.log
*.tmp
*.swp
node_modules/
.env
.idea/
*.o
*.exe
dist/
build/
*.egg-info/
*.parquet
*.csv
*.txt
*.json
*.log
./data/*
!./data/.gitkeep
*.html
./models/*